<section id="contact-page">
    <div class="container mt-5" style="padding-top:50px;">
        <div class="center">
            <h2>List Products</h2>
            <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="tst">

        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="content"></div>
            <script type="text/javascript" src="modules/list_rooms/view/js/lists_rooms.js" ></script>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->
